body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    background-color: #121214;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.page {
    width: 736px;
    margin: 0 auto;
}

header {
    width: 319px;
    margin-top: 74px;
}

header p {
    font-size: 16px;
    line-height: 26px;

    color: #42D3FF;
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
}

form {
    background-color: #FAFAFC;
    margin-top: 38px;
    border-radius: 8px;

    min-height: 300px;
}
